body{
font-family:Arial;
background:#0e0e0e;
color:white;
margin:0;
padding:20px;
}

h1{
text-align:center;
}

.subtitle{
text-align:center;
color:#aaa;
margin-bottom:30px;
}

.container{
display:flex;
gap:20px;
justify-content:center;
}

.card{
background:#1b1b1b;
padding:20px;
border-radius:10px;
width:300px;
}

label{
display:block;
margin-top:10px;
}

select{
width:100%;
padding:8px;
margin-top:5px;
}

button{
margin-top:10px;
padding:10px;
border:none;
border-radius:6px;
cursor:pointer;
}

.duelo{
display:flex;
gap:15px;
margin-top:20px;
}

.postre{
flex:1;
background:#2a2a2a;
color:white;
padding:20px;
font-size:16px;
}

.postre span{
background:orange;
padding:5px 10px;
border-radius:5px;
margin-right:5px;
}

ol{
margin-top:20px;
}
